{% extends "base.html" %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Consulting</h2>
        </header>
        <!-- Image -->
        <section>
            <p><span class="image right"><img src="../static/images/consulting.jpg" alt="" /></span>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
            </p>
        </section>
    </div>
</div>
{% endblock %}