{% extends "base.html" %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Cookie Policy</h2>
        </header>
        <!-- Image -->
        <section>
            <p>
                <b>WAT ZIJN COOKIES?</b><br><br>
                Cookies zijn kleine data- of tekstbestanden die websites op je lokale computer opslaan. Deze cookies
                dienen diverse doelen. Er zijn technische cookies, zoals taalinstellingen, sessiecookies die tijdelijk
                zijn, en tracking cookies die je online gedrag volgen om je een betere gebruikerservaring te
                bieden.<br><br>
                Een cookie omvat een unieke code waarmee je browser kan worden herkend tijdens je bezoek aan de website,
                en zelfs bij herhaalde bezoeken om je gebruikservaring te verbeteren.<br><br>
                Cookies kunnen geplaatst worden door de bezochte website of door samenwerkende partners. Alleen de
                server van de bezochte website kan cookies lezen die deze heeft geplaatst, en heeft geen toegang tot
                andere informatie op je computer of mobiele apparaat.<br><br>
                Inhoudelijk bestaat een cookie meestal uit de naam van de server die het heeft geplaatst, een
                vervaldatum en een unieke cijfercode.<br><br>
                Over het algemeen vergemakkelijken cookies de interactie tussen bezoekers en websites, waardoor
                navigeren en interactie vlotter en sneller verlopen. Ze kunnen ook worden ingezet om de website-inhoud
                aan de gebruiker aan te passen.<br><br>
                <b>GEBRUIKTE COOKIES OP CO-WORKER.BE</b><br><br>
                We maken uitsluitend gebruik van cookies om onze website af te stemmen op jouw individuele wensen. Dit
                stelt ons in staat om verbeteringen en updates aan onze website aan te brengen op basis van jouw
                voorkeuren voor gebruik.<br><br>
                In de regel gebruiken we geen cookies om jou persoonlijk te identificeren.<br>
            <ul>
                <li><b>Noodzakelijke cookies</b><br>
                    Deze cookies zijn essentieel voor het bezoek aan onze website en voor het gebruik van specifieke
                    functies ervan. Ze stellen je bijvoorbeeld in staat om te navigeren tussen diverse secties van de
                    website en formulieren in te vullen. Als je ervoor kiest om deze cookies te weigeren, bestaat de
                    kans dat bepaalde delen van de website niet of niet optimaal functioneren.
                </li>
                <li><b>Prestatie cookies</b><br>
                    Prestatiecookies verzamelen gegevens over hoe je onze websites gebruikt, waardoor we in de toekomst
                    verbeteringen kunnen aanbrengen die aansluiten bij jouw behoeften. Hieronder vallen gegevens over
                    vaak bezochte pagina's en mogelijke foutmeldingen. De informatie die deze cookies verzamelen, is
                    anoniem en bevat geen gegevens waarmee je persoonlijk geïdentificeerd kunt worden.
                </li>
            </ul><br><br>
            <b>BEHEER VAN COOKIES</b><br><br>
            Bij je eerste bezoek aan <b>co-worker.be</b> word je gevraagd om akkoord te gaan met verschillende soorten
            cookies. Je
            kunt per categorie cookies toestaan of weigeren. Op elk moment kun je de cookie-instellingen voor onze
            website wijzigen via de link onderaan onze pagina om je toestemming in te trekken.<br><br>
            Bij je eerste bezoek aan de website kun je er ook voor kiezen om cookies te weigeren door dit aan te geven
            in het pop-up venster dat wordt weergegeven.<br><br>
            Je kunt ook de installatie van cookies weigeren via je browserinstellingen. Bedenk wel dat het uitschakelen
            van cookies bepaalde functionaliteiten van onze website kan beperken. Voor gedetailleerde instructies over
            het weigeren van cookies in de meest gebruikte browsers, kun je terecht op www.aboutcookies.org.<br><br>
            Als je dit wenst, kun je op elk moment de reeds geïnstalleerde cookies verwijderen van je computer of
            mobiele apparaat. Om de website volledig te kunnen ervaren zonder beperkingen, is het raadzaam om cookies
            ingeschakeld te hebben in je browser. Om cookies in te schakelen, dien je de volgende stappen te
            volgen:<br><br>
            <ul>
                <li><a href="https://support.microsoft.com/nl-nl/microsoft-edge/tijdelijk-cookies-en-sitegegevens-toestaan-in-microsoft-edge-597f04f2-c0ce-f08c-7c2b-541086362bd2">Microsoft Edge</a></li>
                <li><a href="https://support.google.com/accounts/answer/61416?hl=nl&co=GENIE.Platform%3DDesktop">Google Chrome</a></li>
                <li><a href="https://support.apple.com/nl-be/guide/safari/ibrw850f6c51/mac#:~:text=Je%20kunt%20de%20instellingen%20van,altijd%20worden%20geaccepteerd%20of%20geblokkeerd.&text=Kies%20in%20de%20app%20Safari,'Blokkeer%20alle%20cookies'%20uit.">Safari</a></li>
                <li><a href="https://support.mozilla.org/nl/kb/websites-melden-dat-cookies-worden-geblokkeerd-coo">Mozilla Firefox</a></li>
            </ul>
            Indien je na het doornemen van deze cookieverklaring nog vragen of opmerkingen hebt met betrekking tot
            cookies, staan wij klaar om je te assisteren. Neem gerust contact op via <b>info@co-worker.be</b>.
            </p>
        </section>
    </div>
</div>
{% endblock %}