{% extends "base.html" %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Disclaimer</h2>
        </header>
        <!-- Image -->
        <section>
            <p>
                Deze website is eigendom van: <br>
                Co-worker<br>
                Eeckhoutmolenstraat 2 Bus A – 8920 Langemark<br>
                <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-phone-alt"></i> </span>
                <span class="elementor-icon-list-text">+32 493 96 46 99</span><br>
                <a href="mailto:%20info@co-worker.be">
                    <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-envelope"></i></span>
                    <span class="elementor-icon-list-text">info@co-worker.be</span>
                </a><br>
                BTW BE0700.389.686<br><br>
                <b>INTELLECTUELE EIGENDOMSRECHTEN</b><br>
                De inhoud van deze website, inclusief merken, logo's, illustraties, gegevens, product- of bedrijfsnamen,
                teksten, afbeeldingen en dergelijke, is beschermd door intellectuele eigendomsrechten en behoort toe aan
                co-worker of de rechtmatige eigenaren van derden.<br><br>
                <b>BEPERKING VAN DE AANSPRAKELIJKHEID</b><br>
                De informatie op deze website is van algemene aard en is niet specifiek afgestemd op persoonlijke of
                bijzondere omstandigheden. Daarom kan deze informatie niet worden beschouwd als persoonlijk,
                professioneel of juridisch advies voor de gebruiker.<br><br>
                Co-worker zet zich in om de verstrekte informatie zo volledig, nauwkeurig en actueel mogelijk te houden.
                Desondanks kunnen er onjuistheden voorkomen in de beschikbare informatie. Als er onnauwkeurigheden
                worden opgemerkt of bepaalde informatie op de website niet beschikbaar is, zal Co-worker zich inspannen
                om dit snel te corrigeren. Houd er echter rekening mee dat Co-worker niet aansprakelijk kan worden
                gesteld voor directe of indirecte schade die voortvloeit uit het gebruik van deze website.<br><br>
                Mocht je onjuistheden ontdekken in de informatie op de website, aarzel dan niet om een e-mail te sturen
                naar <b>info@co-worker.be</b>.<br><br>
                De inhoud van de website, inclusief hyperlinks, kan op elk moment worden aangepast, gewijzigd of
                aangevuld zonder voorafgaande aankondiging.<br><br>
                Co-worker biedt geen garanties voor de foutloze werking of continue beschikbaarheid van de website, noch
                voor enige vorm van schade, direct of indirect, die voortkomt uit het gebruik ervan.<br><br>
                Co-worker kan onder geen enkele omstandigheid aansprakelijk worden gesteld voor schade veroorzaakt door
                het gebruik van deze website, inclusief via links of hyperlinks, waaronder verlies, onderbreking van
                werk, schade aan programma's of andere gegevens op het computersysteem, apparatuur, software of andere
                eigendommen van de gebruiker. <br><br>
                Deze website kan hyperlinks bevatten naar websites of pagina's van derden, maar dit impliceert op geen
                enkele manier een impliciete goedkeuring van de inhoud ervan door Co-worker. <br><br>
                Co-worker benadrukt dat zij geen controle heeft over de inhoud of andere kenmerken van deze externe
                websites en kan daarom niet aansprakelijk worden gesteld voor de inhoud, kenmerken of enige vorm van
                schade veroorzaakt door het gebruik ervan.
            </p>
        </section>
    </div>
</div>
{% endblock %}