{% extends "base.html" %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Office assistant</h2>
        </header>
        <!-- Image -->
        <section>
            <p><span class="image right"><img src="../static/images/office_assistant.jpg" alt="" /></span>
                Bent u momenteel in een situatie waarin u merkt dat u simpelweg niet genoeg tijd hebt om met de nodige
                zorg offertes, bestelbons en facturen op te stellen? <br><br>
                Vindt u het lastig om alle vereiste administratieve handelingen tot in de puntjes te voltooien en ervoor
                te zorgen dat alles accuraat en professioneel is? En staat u voor de taak om alles netjes klaar te maken
                voor overdracht aan uw boekhouder, maar ontbreekt het u aan de benodigde tijd en middelen om dit
                efficiënt te doen? <br><br>
                Geen zorgen, wij begrijpen de uitdagingen die u tegenkomt en we staan graag voor u klaar. Ons team is
                toegewijd aan het verlichten van uw administratieve lasten en u te helpen bij het correct en tijdig
                opstellen van documenten, het afronden van administratieve taken en het organiseren van alles voor een
                naadloze overdracht aan uw boekhouder.
                U kunt op ons rekenen om u de ondersteuning te bieden die u nodig heeft, zodat u zich kunt concentreren
                op andere belangrijke aspecten van uw werk en uw bedrijf. <br><br>
                Aarzel niet om contact met ons op te nemen; we zijn er om u te ontlasten en uw werk gemakkelijker te
                maken.</p>
        </section>

    </div>
</div>
{% endblock %}