{% extends "base.html" %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Privacy Policy</h2>
        </header>
        <!-- Image -->
        <section>
            <p>
                Bij Co-worker hechten we grote waarde aan de bescherming van jouw persoonsgegevens en het eerbiedigen
                van jouw privacy. In deze privacyverklaring voor onze website streven we ernaar om duidelijk en
                transparant uiteen te zetten hoe we met jouw persoonsgegevens omgaan. <br><br>
                Deze privacyverklaring is van toepassing op Co-worker en de geautoriseerde individuen die binnen
                Co-worker werken. Onze maatschappelijke zetel is gevestigd op Testlaan 10, 8920 Langemark, en ons
                ondernemingsnummer is BE0700.389.686. We zetten ons in om jouw privacy te waarborgen en behandelen
                persoonsgegevens met uiterste zorgvuldigheid. In alle situaties handelt Co-worker volgens de geldende
                wet- en regelgeving, waaronder de Algemene Verordening Gegevensbescherming (GDPR). <br><br>
            <h5>Met welk doel verwerken wij jouw persoonsgegevens op onze website?</h5>
            We hanteren persoonsgegevens in lijn met het oorspronkelijke doel van hun verstrekking: <br>
            <ul>
                <li>om te reageren op ingediende contactformulieren.</li>
                <li>voor het verzenden van nieuwsbrieven, mailings en uitnodigingen (met toestemming van de
                    betrokkenen).</li>
                <li>voor het uitvoeren van administratieve taken in verband met onze potentiële samenwerking.</li>
            </ul>
            <h5>Op welke manier worden jouw persoonsgegevens door ons verwerkt?</h5>
            <b>ALGEMEEN</b>
            <ul>
                <li>We beperken de verwerking van gegevens tot het strikte minimum dat vereist is voor de specifieke doeleinden waarvoor ze worden gebruikt. Als we jouw persoonsgegevens moeten verwerken, zullen we eerst om jouw toestemming vragen.</li>
                <li>Om de veiligheid van jouw persoonsgegevens te waarborgen, hebben we passende technische en organisatorische maatregelen geïmplementeerd.</li>
                <li>Jouw persoonsgegevens worden niet gedeeld met andere partijen, tenzij dit noodzakelijk is om de doeleinden waarvoor ze verzameld zijn, te vervullen.</li>
                <li>We zijn op de hoogte van jouw rechten met betrekking tot je persoonsgegevens en hebben een diep respect hiervoor. Mocht je na het doornemen van onze privacyverklaring vragen hebben over deze rechten, staan we klaar om je te assisteren via <b>info@co-worker.be</b>.</li>
            </ul>
            <b>WEBSITE</b>
            <ul>
                <li>Via het contactformulier op onze website verzamelen we persoonsgegevens. We vragen verplicht om je naam (zowel voornaam als achternaam), e-mailadres en het bericht waarvoor je contact opneemt. Je hebt ook de optie om je bedrijfsnaam en telefoonnummer op te geven.</li>
                <li>Daarnaast maken we gebruik van cookies op onze website. Je kunt meer gedetailleerde informatie hierover vinden in onze cookie policy.</li>
                <li>Op onze website zijn hyperlinks aanwezig die leiden naar andere websites van derden. Het is mogelijk dat deze externe websites ook links bevatten die verwijzen naar onze website. We willen benadrukken dat Co-worker niet verantwoordelijk is voor het privacybeleid van die andere partijen, inclusief het gebruik van cookies op hun websites.</li>
            </ul>
            <h5>Welke persoonsgegevens verzamelen wij?</h5>
            Persoonlijke identificatiegegevens die we verzamelen zijn onder andere: naam, voornaam, adres, telefoonnummer, mobiel nummer, e-mailadres, bedrijfsnaam en jouw BTW-nummer.<br><br>
            <h5>Hoe lang bewaren we de persoonsgegevens?</h5>
            Co-worker hanteert een bewaarbeleid waarbij persoonsgegevens niet langer worden bewaard dan noodzakelijk is voor het oorspronkelijke doel van verzameling, tenzij wettelijke verplichtingen dit vereisen. Over het algemeen hanteren we een maximale bewaartermijn van 5 jaar na het laatste gebruik van de gegevens. <br><br>
            <h5>Verstrekking van de persoonsgegevens aan derden</h5>
            Indien nodig voor de realisatie van de hierboven genoemde doelen, behouden wij ons het recht voor om de verstrekte informatie met derden te delen.<br>
            Wij maken bijvoorbeeld gebruik van externe partners voor:
            <ul>
                <li>Het beheren van de online omgeving, inclusief webhosting en e-mailbeheer.</li>
            </ul>
            We hebben passende overeenkomsten gesloten met deze entiteiten om ervoor te zorgen dat jouw persoonlijke gegevens veilig blijven. We delen nooit persoonsgegevens met derden waarmee we geen verwerkingsovereenkomst hebben gesloten. <br><br>
            <h5>Wijziging privacyverklaring</h5>
            Co-worker behoudt zich het recht voor om de privacyverklaring te wijzigen. In geval van wijzigingen zullen we deze aanpassingen duidelijk kenbaar maken op onze website. Het is aangewezen om deze privacyverklaring regelmatig na te lezen op eventuele wijzigingen.<br><br>
            <h5>Beveiliging van de persoonsgegevens</h5>
            We implementeren geschikte technische en organisatorische maatregelen om jouw persoonsgegevens te beveiligen tegen ongeautoriseerde verwerking. Deze maatregelen omvatten onder andere:<br>
            <ul>
                <li>Elke individu binnen Co-worker met toegang tot jouw gegevens is verplicht om deze vertrouwelijk te behandelen. We hebben al onze medewerkers op de hoogte gebracht van de essentie van persoonsgegevensbescherming.</li>
                <li>We creëren back-ups van de persoonsgegevens zodat we deze kunnen herstellen in geval van fysieke of technische incidenten.</li>
            </ul>
            Co-worker is niet verantwoordelijk voor enige directe of indirecte schade die kan ontstaan als gevolg van onjuist of ongeoorloofd gebruik van jouw persoonsgegevens door derden. <br><br>
            <h5>Uw rechten omtrent je gegevens</h5>
            Je hebt recht op inzage en recht op correctie of, in bepaalde gevallen, verwijdering van de persoonsgegevens die wij van jou ontvangen hebben. Vragen hierover kan je mailen naar <b>info@co-worker.be</b><br><br>
            <h5>Heeft u een klacht?</h5>
            Indien je enige bezorgdheid hebt over de verwerking van je persoonsgegevens, verzoeken wij je vriendelijk om direct contact met ons op te nemen. Je hebt tevens het recht om een klacht in te dienen bij de Gegevensbeschermingsautoriteit, <br>
            de toezichthoudende instantie voor privacybescherming. De Gegevensbeschermingsautoriteit is gevestigd aan Drukpersstraat 35, 1000 Brussel, België, telefonisch te bereiken via +32 (0)2 274 48 00, of per e-mail via commission@privacycommission.be.
            </p>
        </section>
    </div>
</div>
{% endblock %}