{% extends "base.html" %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Privacy Policy</h2>
        </header>
        <!-- Image -->
        <section>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
               test <br><br>
            </p>
        </section>
    </div>
</div>
{% endblock %}