{% extends "base.html" %}

{% block content %}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Privacy Policy</h2>
        </header>
        <!-- Image -->
        <section>
            <p>
                Bij Co-worker hechten we grote waarde aan de bescherming van jouw persoonsgegevens en het eerbiedigen
                van jouw privacy. In deze privacyverklaring voor onze website streven we ernaar om duidelijk en
                transparant uiteen te zetten hoe we met jouw persoonsgegevens omgaan. <br><br>
                Deze privacyverklaring is van toepassing op Co-worker en de geautoriseerde individuen die binnen
                Co-worker werken. Onze maatschappelijke zetel is gevestigd op Testlaan 10, 8920 Langemark, en ons
                ondernemingsnummer is BE0700.389.686. We zetten ons in om jouw privacy te waarborgen en behandelen
                persoonsgegevens met uiterste zorgvuldigheid. In alle situaties handelt Co-worker volgens de geldende
                wet- en regelgeving, waaronder de Algemene Verordening Gegevensbescherming (GDPR). <br><br>
            <h5>Met welk doel verwerken wij jouw persoonsgegevens op onze website?</h5>
            We hanteren persoonsgegevens in lijn met het oorspronkelijke doel van hun verstrekking: <br>
            <ul>
                <li>om te reageren op ingediende contactformulieren.</li>
                <li>voor het verzenden van nieuwsbrieven, mailings en uitnodigingen (met toestemming van de
                    betrokkenen).</li>
                <li>voor het uitvoeren van administratieve taken in verband met onze potentiële samenwerking.</li>
            </ul>
            <h5>Op welke manier worden jouw persoonsgegevens door ons verwerkt?</h5>
            <b>ALGEMEEN</b>
            </p>
        </section>
    </div>
</div>
{% endblock %}